@import "src/styles/animations";

.container {
  padding-bottom: 135px;
}

.header {
  background-image: url(./img/Background_Contacts.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  animation: moveDown 0.7s ease-out 0.5s both;
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 10%;
  &NoDelay {
    animation-delay: 0s;
  }  
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 72px;
}

.item {
  max-width: 1040px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #E2E2E2;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #313336;
  text-decoration: none;
  margin: 0 auto;

  :hover {
    color: #0077E4;
  }
}

@media (max-width: 1024px) {
  .container {
    padding-bottom: 100px;
  }

  .content {
    padding: 60px 30px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 85px;
  }

  .header {
    font-size: 28px;
    line-height: 36px;
    text-align: center;
    padding: 46px 0;
    margin: 0 auto;
  }
}

@media (max-width: 480px) {
  .container {
    padding-bottom: 75px;
  }

  .content {
    padding: 60px 0;
  }

  .header {
    font-size: 22px;
    line-height: 24px;
    padding: 35px 0;
  }

  .item {
    padding-left: 15%;
  }
}

@media (max-width: 370px) {
  .container {
    padding-bottom: 55px;
  }

  .header {
    line-height: 30px;
    padding: 30px 10px;
  }

  .content {
    padding-top: 40px;
  }

  .item {
    padding-left: 5%;
  }
}
