.container {
  position: relative;
  padding-top: 64px;
}

.content {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  
  h2 {
    margin: 0;
    font-size: 28px;
    line-height: 50px;
  }
  
  span {
    position: relative;
    padding-top: 3px;
    margin-right: 8px;
    width: 56px;
    height: 56px;
    font-size: 32px;
    border: 1px solid #0077E4;
    border-radius: 50px;
  }
  
  span::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 0.5px solid #0077E4;
    border-radius: 50px;
  }
}

.subtitle {
  width: 540px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin: 48px auto 64px auto;

  b {
    font-weight: 600;
  }
}

.calculator {
  width: 1040px;
  height: 680px;
  background: rgba(0, 119, 228, 0.1);
  margin: 0 auto;
  padding-right: 160px;
  padding-top: 41px;
}  

.power {
  display: flex;
  flex-direction: row;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  margin-left: 42px;
} 

.powerDescr {
  position: relative;
  width: 371px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #fff;
}

.powerDescr::before {
  content: '';
  position: absolute;
  display: block;
  z-index: 10;
  top: -35%;
  right: -20%;
  border-top: 48px solid transparent;
  border-bottom: 49px solid transparent;
  border-left: 26px solid #0077E4;
}

.powerDescr::after {
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #0077E4;
  width: 48vw;
  height: 97px;
  bottom: -45%;
  left: -100%;
}

.powerInput {
  height: 68px;
  width: 173px;
  padding: 12px;
  margin-left: 100px;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  color: #000;
  background-color: #fff;
  border: 1px solid #0077E4;
  text-align: right;
}

.powerInput:focus, .powerInput:active, .powerInput:hover {
  outline: 0;
  outline-offset: 0;
  border: 1px solid #0077E4;
}

.unit {
  width: 53px;
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  color: #313336;
  margin: 0 26px 0 16px;
}

.calculate {
  width: 167px;
  height: 77.57px;
  text-align: center;
  background-color: #0077E4;
  font-family: Roboto;
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  border: none;
  border-radius: 2px;
}

.grafTitle {
  margin-top: 36px;
  margin-left: 160px;
  font-size: 16px;
  line-height: 40px;
  align-items: left;
  color: #313336;
}
    
.graf {
  margin-top: 36px;
  margin-left: 160px;
  display: grid;
  grid-template-columns: 721px;
  grid-template-rows: 353px 40px;
}

.grafGrid {
  display: grid;
  grid-template-columns: repeat(45, 16px);
  grid-template-rows: repeat(22, 16px);
  background: linear-gradient(#0077E4, transparent 1px), linear-gradient(90deg, #0077E4, transparent 1px);
  background-size: 16px 16px;
  background-position: top left;
  
  div {
    background-color: #0077E4;
    opacity: 0.2;
  }
}

.gridFirst {
  grid-column: 5/12;
  grid-row: 17/23;
}

.gridSecond {
  grid-column: 15/22;
  grid-row: 13/23;
}

.gridThird {
  grid-column: 25/32;
  grid-row: 8/23;
}

.gridForth {
  grid-row: 4/23;
  grid-column: 35/42;
}

.grafYears {
  margin: 0 64px 0 64px;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  column-gap: 62px;

  div {
    font-size: 16px;
    line-height: 30px;
    color: #0077E4;
    opacity: 0.5;
  }
}
