@import "src/styles/animations";

.container {
  padding: 0 30px;
}

.subtitle {
  max-width: 540px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin: 48px auto 64px;
}

.calculator {
  position: relative;
  max-width: 1040px;
  background: #e7f1fc;
  padding: 42px 30px 90px;
  margin: 0 auto;
}

.labelWrap {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(50% - 144px);
  height: 96px;
  top: 32px;
  left: 30px;
  padding-right: 20px;
}

.label {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  z-index: 20;
  opacity: 0;
}

.labelAnimate {
  animation-name: fadeIn;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  transition: all 0.2s ease-in-out;
}

.labelInitVisible {
  animation-delay: 1800ms;
}

.arrow {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  width: 50vw;
  background-color: #0077e4;
  z-index: 10;
  transform: translateX(-50vw);

  &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 100%;
      border-top: 48px solid transparent;
      border-bottom: 48px solid transparent;
      border-left: 20px solid #0077E4;
    }
}

.arrowAnimate {
  animation-name: moveRight;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.arrowInitVisible {
  animation-delay: 1500ms;
}

.content {
  max-width: 720px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer,
.right {
  width: 100%;
  flex-grow: 1;
}

.fieldWrap {
  position: relative;
}

.field {
  height: 60px;
  width: 160px;
  text-align: right;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  color: #000;
  background-color: #fff;
  border: 1px solid #0077E4;
  padding: 12px;
}

.error {
  position: absolute;
  top: 100%;
  left: 0;
  color: #0077E4;
  font-size: 14px;
  line-height: 28px;
}

.unitMob {
  display: none;
  width: 60px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unitMob,
.unit {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  margin-left: 16px;
}

.calcBtn {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  background-color: #0077E4;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
  padding: 24px;
  cursor: pointer;

  &:hover {
    background-color: #359AF8;
  }
}

.chartDescription {
  color: #313336;
  font-size: 16px;
  line-height: 22px;
  margin: 46px 0 30px;
}

.chartWrap {
  position: relative;
}

.gridWrap {
  border: 1px solid #cce4fa;
  animation: clip 0.8s linear 0.5s both;
}

.scale {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(45, 1fr);
  grid-template-rows: repeat(22, 1fr);
}

.scaleItem {
  position: relative;
  animation-name: showAndBounce;
  animation-duration: 0.8s;
  animation-timing-function: ease;
  animation-fill-mode: both;
  transform-origin: bottom;

  &:nth-child(1) {
    grid-column: 5/12;
    grid-row: 22/23;
    animation-delay: 1.4s;
  }

  &:nth-child(2) {
    grid-column: 15/22;
    grid-row: 18/23;
    animation-delay: 1.6s;
  }

  &:nth-child(3) {
    grid-column: 25/32;
    grid-row: 13/23;
    animation-delay: 1.8s;
  }

  &:nth-child(4) {
    grid-column: 35/42;
    grid-row: 3/23;
    animation-delay: 2s;
  }
}

.rect {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transform-origin: bottom;
  z-index: 10;
}

.defaultRect {
  @extend .rect;
  background-color: #cce4fa;
}

.resultRect {
  @extend .rect;
  background-color: #0280F4;
}

.resultValue {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 23px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  transition-property: all;
  transition-duration: 0.3s;
  transform: translate3d(0, 0, 0);
  z-index: 5;

  &Shown {
    opacity: 1;
    transform: translate3d(0, -100%, 0);
  }
}

.scaleLabel {
  position: absolute;
  top: calc(100% + 13px);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #80bbf2;
}

@media (max-width: 1024px) {
  .labelWrap {
    width: calc(50% - 126px);
    padding-right: 30px;
  }

  .label {
    font-size: 15px;
    line-height: 20px;
  }

  .field {
    width: 140px;
  }

  .unit {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 768px) {
  .labelWrap {
    width: calc(100% - 60px);
    height: 68px;
  }

  .arrow {
    width: 100vw;
    transform: translateX(-100vw);

    &:after {
      border-top: 34px solid transparent;
      border-bottom: 34px solid transparent;
      border-left: 20px solid #0077E4;
    }
  }

  .arrowAnimate {
    animation-name: moveRightMob;
  }

  .calculator {
    padding-top: 120px;
  }

  .form {
    flex-wrap: wrap;
  }

  .spacer {
    display: none;
  }

  .fieldWrap {
    width: calc(100% - 80px);
  }

  .field {
    width: 100%;
  }

  .unitMob {
    display: block;
  }

  .right {
    margin-top: 20px;
  }

  .unit {
    display: none;
  }

  .calcBtn {
    width: 100%;
  }

  .chart {
    display: none;
  }

  .scale {
    display: none;
  }
}

@media (max-width: 400px) {
  .labelWrap {
    padding-right: 20px;
  }

  .label {
    font-size: 14px;
    line-height: 18px;
  }
}
