@import "src/styles/animations";

.container {
  padding: 0 30px;
}

.subtitle {
  max-width: 540px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin: 48px auto 64px;
}

.calculator {
  position: relative;
  max-width: 1040px;
  background: rgba(0, 119, 228, 0.1);
  padding: 42px 30px 55px;
  margin: 0 auto;
}

.labelWrap {
  position: absolute;
  display: flex;
  align-items: center;
  width: calc(50% - 144px);
  height: 96px;
  top: 32px;
  left: 30px;
  padding-right: 20px;
}

.label {
  position: relative;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  z-index: 20;
  opacity: 0;
}

.labelAnimate {
  animation-name: fadeIn;
  animation-delay: 300ms;
  animation-timing-function: ease-in-out;
  animation-duration: 0.4s;
  animation-fill-mode: both;
  transition: all 0.2s ease-in-out;
}

.labelInitVisible {
  animation-delay: 1800ms;
}

.arrow {
  position: absolute;
  top: 0;
  right: 20px;
  height: 100%;
  width: 50vw;
  background-color: #0077e4;
  z-index: 10;
  transform: translateX(-50vw);

  &:after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 100%;
      border-top: 48px solid transparent;
      border-bottom: 48px solid transparent;
      border-left: 20px solid #0077E4;
    }
}

.arrowAnimate {
  animation-name: moveRight;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

.arrowInitVisible {
  animation-delay: 1500ms;
}

.content {
  max-width: 720px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spacer,
.right {
  width: 100%;
  flex-grow: 1;
}

.field {
  height: 60px;
  width: 160px;
  text-align: right;
  font-weight: 600;
  font-size: 28px;
  line-height: 48px;
  color: #000;
  background-color: #fff;
  border: 1px solid #0077E4;
  padding: 12px;
}

.unitMob {
  display: none;
  width: 60px;
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unitMob,
.unit {
  font-size: 28px;
  line-height: 38px;
  font-weight: 600;
  margin-left: 16px;
}

.calcBtn {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
  font-family: 'Roboto', sans-serif;
  background-color: #0077E4;
  border-radius: 2px;
  padding: 24px;
}

.chartDescription {
  color: #313336;
  font-size: 16px;
  line-height: 22px;
  margin: 46px 0 30px;
}

.chart {
  display: grid;
  grid-template-columns: repeat(45, 16px);
  grid-template-rows: repeat(22, 16px);
  background: linear-gradient(#0077E4, transparent 1px), linear-gradient(90deg, #0077E4, transparent 1px);
  background-size: 16px 16px;
  background-position: top left;
  border-right: 1px solid #0077E4;
  border-bottom: 1px solid #0077E4;

  div {
    background-color: #0077E4;
    opacity: 0.2;
  }
}

.gridFirst {
  grid-column: 5/12;
  grid-row: 17/23;
}

.gridSecond {
  grid-column: 15/22;
  grid-row: 13/23;
}

.gridThird {
  grid-column: 25/32;
  grid-row: 8/23;
}

.gridForth {
  grid-row: 4/23;
  grid-column: 35/42;
}

.scale {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  column-gap: 62px;
  margin: 0 64px;

  &Item {
    font-size: 16px;
    line-height: 30px;
    color: #0077E4;
    opacity: 0.5;
  }
}

@media (max-width: 1024px) {
  .labelWrap {
    width: calc(50% - 126px);
    padding-right: 30px;
  }

  .label {
    font-size: 15px;
    line-height: 20px;
  }

  .field {
    width: 140px;
  }

  .unit {
    font-size: 28px;
    line-height: 38px;
  }
}

@media (max-width: 768px) {
  .labelWrap {
    width: calc(100% - 60px);
    height: 68px;
  }

  .arrow {
    width: 100vw;
    transform: translateX(-100vw);

    &:after {
      border-top: 34px solid transparent;
      border-bottom: 34px solid transparent;
      border-left: 20px solid #0077E4;
    }
  }

  .arrowAnimate {
    animation-name: moveRightMob;
  }

  .calculator {
    padding-top: 120px;
  }

  .form {
    flex-wrap: wrap;
  }

  .spacer {
    display: none;
  }

  .field {
    width: calc(100% - 80px);
  }

  .unitMob {
    display: block;
  }

  .right {
    margin-top: 20px;
  }

  .unit {
    display: none;
  }

  .calcBtn {
    width: 100%;
  }

  .chart {
    display: none;
  }

  .scale {
    display: none;
  }
}

@media (max-width: 400px) {
  .labelWrap {
    padding-right: 20px;
  }

  .label {
    font-size: 14px;
    line-height: 18px;
  }
}
