@import 'src/styles/animations';

.container {
  padding: 65px 30px 80px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.eco {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
}

.ecoImgWrap {
  width: 18%
}

.ecoImg {
  width: 100%;
  height: auto;
}

.ecoDescription {
  width: 60%;
  height: auto;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  background-color: #def8d5;
  border-radius: 42px;
  padding: 22px 20px;
}

.pollutionCharts {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}

.chartWrap {
  width: 48%;
}

.chart {
  width: 100%;
  height: auto;
}

.trees {
  transform: translateX(40px);
}

.tree {
  animation: rotate2 5s ease-in-out 0.5s infinite;
  transform-origin: bottom left;
}

.green1 {
  animation: rotate1 5s ease-in-out infinite;
  transform-origin: center;
}

.green2 {
  animation: rotate2 5s ease-in-out infinite;
  transform-origin: bottom left;
}

.chartName {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  margin-top: 23px;

  &Blue {
    color: #0077E4;
  }
}

.pollutionDescription {
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin-top: 52px;
}

@media (max-width: 1024px) {
  .ecoDescription {
    width: auto;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 50px 30px 65px;
  }

  .eco {
    display: block;
    margin-top: 35px;
  }

  .ecoImgWrap {
    width: 40%;
    margin: 0 auto;
  }

  .ecoDescription {
    line-height: 24px;
    padding: 18px 20px;
    margin: 10px auto 0;
  }
}

@media (max-width: 480px) {
  .ecoImgWrap {
    width: 35%;
  }

  .ecoDescription {
    padding: 16px 5px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 35px;
  }

  .pollutionCharts {
    flex-direction: column-reverse;
  }

  .chartWrap {
    width: 100%;
  }

  .chartName {
    font-size: 14px;
    line-height: 22px;
    margin-top: 18px;
  }

  .pollutionDescription {
    font-size: 14px;
    line-height: 22px;
    margin-top: 40px;
  }
}

@media (max-width: 370px) {
  .container {
    padding: 40px 20px 50px;
  }

  .ecoImgWrap {
    width: 50%;
  }

  .ecoDescription {
    width: 100%;
    margin-top: 20px;
  }

  .pollutionCharts {
    margin-top: 50px;
  }
}
