@import "src/styles/animations";

.container {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  z-index: 1120;
  
  &FadeOut {
    animation-name: fadeOut;
    animation-timing-function: ease-in-out;
    animation-duration: 0.4s;
    animation-fill-mode: backwards;
  }
}

.wraper {
  display: table-cell;
  vertical-align: middle;
}

.content {
  position: relative;
  max-width: 516px;
  max-height: 95vh;
  background-color: #fff;
  overflow: auto;
  border-radius: 4px;
  padding: 48px 36px;
  margin: 0 auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  margin-bottom: 20px;
}

.description {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 32px;
}

.inputWraper {
 margin-bottom: 24px;
}

.label {
  font-size: 14px;
  line-height: 28px;
}

.input {
  width: 100%;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  border: 1px solid #adadaf;
}

.input:focus {
  border-color: #0077E4;
}

.calculate {
  position: relative;
  width: 100%;
  height: 70px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #0077E4;
  border: 7px solid #fff;
  margin-top: 22px;

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -7px;
    left: -7px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border: 1px solid rgba(0, 119, 228, 0.5);
  }
}

@media (max-width: 768px) {
  .content {
    max-width: 420px;
    padding-top: 56px;
  }

  .close {
    top: 15px;
    right: 15px;
  }
}

@media (max-width: 480px) {
  .content {
    max-width: 320px;
    padding: 56px 20px 30px;
  }

  .close {
    top: 12px;
    right: 12px;
  }
  
  .title {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 16px;
  }
  
  .description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
  }
  
  .inputWraper {
   margin-bottom: 16px;
  }
  
  .label {
    font-size: 12px;
    line-height: 24px;
  }
  
  .input {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }

  .calculate {
    margin-top: 18px;
  }
}

@media (max-width: 370px) {
  .content {
    max-width: 280px;
    padding-top: 50px;
  }

  .close {
    top: 10px;
    right: 10px;
  }
  
  .title {
    font-size: 18px;
    line-height: 30px;
  }
  
  .description {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 18px;
  }
  
  .inputWraper {
   margin-bottom: 12px;
  }
  
  .label {
    font-size: 10px;
    line-height: 20px;
  }
  
  .input {
    height: 36px;
    font-size: 12px;
    line-height: 18px;
  }

  .calculate {
    height: 60px;
    font-size: 14px;
    line-height: 20px;
    margin-top: 16px;
  }
}

