.container {
  padding: 0 30px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.infoText {
  width: 45%;
}

.text {
  font-size: 16px;
  line-height: 28px;
}

.listTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin: 34px 0;
}

.list {
  font-size: 16px;
  line-height: 28px;
}

.chart {
  width: 45%;
  height: auto;
}

.example {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.boiler {
  width: 30%;
  position: relative;
  z-index: 10;
}

.boilerImg {
  width: 100%;
  height: auto;
}

.connector {
  position: absolute;
  top: 50%;
  left: 92%;
  width: 25%;
  height: 1px;
  background-color: #922033;
  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -10%;
    width: 15px;
    height: 15px;
    background-color: #922033;
    border-radius: 50%;
  }
}

.features {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.redLine {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 50%;
  height: 1px;
  background-color: #922033;
}

.feature1, .feature2, .feature3 {
  position: relative;
  width: 30%;
}

.name1, .name2, .name3 {
  position: absolute;
  left: 0;
  bottom: calc(100% + 14px);
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #922033;
}

.name3 {
  padding: 0 45px;
}

.imageFeature {
  width: 100%;
  height: auto;
  border: 1px solid #922033;
  border-radius: 50%;
}
