.container {
  padding: 0 30px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
}

.infoText {
  width: 45%;
}

.text {
  font-size: 16px;
  line-height: 28px;
}

.listTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  margin: 34px 0;
}

.list {
  font-size: 16px;
  line-height: 28px;
}

.chart {
  width: 45%;
  height: auto;
}

.example {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}

.boiler {
  width: 30%;
  position: relative;
  z-index: 10;
}

.boilerImg {
  width: 100%;
  height: auto;
}

.connector {
  position: absolute;
  top: 50%;
  left: 92%;
  width: 25%;
  height: 1px;
  background-color: #922033;
  
  &::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -10%;
    width: 15px;
    height: 15px;
    background-color: #922033;
    border-radius: 50%;
  }
}

.features {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.redLine {
  position: absolute;
  top: 50%;
  left: 30%;
  width: 50%;
  height: 1px;
  background-color: #922033;
}

.feature {
  position: relative;
  width: 30%;
}

.nameWrap {
  position: absolute;
  bottom: calc(100% + 14px);
  left: 0;
  max-width: 255px;
  width: 100%;
  text-align: center;
}

.name1, .name2, .name3 {
  display: block;
  font-size: 20px;
  line-height: 28px;
  color: #922033;
}

.imageFeature {
  width: 100%;
  height: auto;
  border: 1px solid #922033;
  border-radius: 50%;
}

@media (max-width: 1024px) {
  .infoText, .chart {
    width: 48%;
  }
  
  .listTitle {
    margin: 28px 0;
  }
  
  .list {
    padding-left: 20px;
  }
}

@media (max-width: 768px) {
  .info {
    flex-direction: column-reverse;
    margin-top: 35px;
  }

  .infoText {
    width: 100%;
  }

  .chart {
    width: 100%;
  }

  .infoText {
    margin-top: 20px;
  }

  .listTitle {
    margin: 20px 0;
  }

  .text, .listTitle, .list {
    line-height: 24px;
  }

  .example {
    flex-direction: column;
    justify-content: space-between;
  }
  
  .boiler {
    width: 60%;
  }

  .connector {
    top: 82%;
    left: 70%;
    width: 1px;
    height: 18%;
    
    &::before {
      top: -5%;
      left: -8px;
      width: 20px;
      height: 20px;
    }
  }

  .features {
    flex-direction: column;
    align-items: flex-end;
  }

  .redLine {
    top: 25%;
    left: 70%;
    width: 1px;
    height: 50%;
  }

  .feature {
    width: 60%;
  }

  .feature:not(:nth-child(2)) {
    margin-top: 30px;
  }

  .nameWrap {
    max-width: 150px;
    text-align: right;
    bottom: 50%;
    left: calc(-90% - 30px);
  }

  .name1, .name2, .name3 {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  .text, .listTitle, .list {
    font-size: 14px;
    line-height: 22px;
  }

  .example {
    margin-top: 30px;
  }

  .boiler {
    width: 70%;
  }

  .connector {
    top: 82%;
    left: 73%;
    
    &::before {
      top: -5%;
      left: -6px;
      width: 12px;
      height: 12px;
    }
  }

  .features {
    margin-left: 20%;
  }

  .redLine {
    left: 60%;
  }

  .feature {
    width: 80%;
  }

  .nameWrap {
    max-width: 110px;
    bottom: 40%;
    left: calc(-65% - 20px);
  }
  
  .name1, .name2, .name3 {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (max-width: 370px) {
  .container {
    padding: 0 20px;
  }

  .text, .listTitle, .list {
    font-size: 12px;
    line-height: 16px;
  }

  .example {
    margin-top: 25px;
  }

  .boiler {
    width: 75%;
  }

  .feature:not(:nth-child(2)) {
    margin-top: 20px;
  }

  .nameWrap {
    bottom: 40%;
    left: calc(-74% - 20px);
  }

  .name1, .name2, .name3 {
    font-size: 12px;
    line-height: 18px;
  }
}
