.content {
  width: 80%;
  padding-left: 40px;
  color: #313336;
}

.subheader {
  display: flex;
  align-items: center;
}

.title {
  width: 62%;
}

.iconEco {
  width: 18%;
  margin-left: 48px;
}

.eco {
  width: 100%;
  height: auto;
}

.namePage {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.description {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px; 
}

.textBlock {
  display: flex;
  margin-top: 48px;
}

.features {
  width: 65%;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  border-right: 1px solid #E2E2E2;
  padding-right: 40px;
}

.docs {
  width: 25%;
  padding-left: 25px;
}

.iconDownload, .iconLink {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.link {
  color: #0077E4;
}

.tableBlock {
  margin-top: 30px;
  border-radius: 25px;
}

.tableRow {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 1px;

  &:first-child .tableCell {
    color: #fff;
    font-weight: 600;
    background-color: #0077E4;
  }

  &:first-child .tableCell:first-child {
    border-top-left-radius: 10px;
  }

  &:first-child .tableCell:last-child {
    border-top-right-radius: 10px;
  }

  &:last-child .tableCell:first-child {
    border-bottom-left-radius: 10px;
  }

  &:last-child .tableCell:last-child {
    border-bottom-right-radius: 10px;
  }
}

.tableCell {
  width: 100%;
  flex-grow: 1;
  word-break: break-word;
  text-align: center;
  background-color: #e6f1fc;
  padding: 5px 0;
  margin-left: 1px;

  &:first-child {
    width: 164px;
    min-width: 164px;
    background-color: #cce4fa;
  }
}

.preview {
  margin-top: 60px;
}

.imagesList {
  display: flex;
  flex-wrap: wrap;
}

.imageItem {
  flex-grow: 1;
}

.imgDescr {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #313336;
}

.image {
  height: auto;
}
