.container {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  background: url(./ant.png) bottom right no-repeat #FFFFFF;
  border-radius: 20px;
  box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
  margin: 80px auto;
  padding-top: 69px;
  padding-bottom: 44px;
}

.title {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 62px;
  
  h2 {
    width: 563px;
    font-size: 28px;
    line-height: 38px;
    margin: 0;
  }

  span {
    position: relative;
    padding-top: 3px;
    margin-right: 8px;
    width: 56px;
    height: 56px;
    font-size: 32px;
    border: 1px solid #0077E4;
    border-radius: 50px;
  }

  span::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 0.5px solid #0077E4;
    border-radius: 50px;
  }
}

.textFirst, .textSecond {
  width: 863px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #313336;
  margin-left: 52px;
}

.poverPlan {
  margin-top: 46px;
  margin-left: 50px;
}

.subTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #313336;
  margin-left: 68px;
}

.planNames {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 68px;
  margin-top: 40px;
}

.picNameFirst, .picNameSecond {
  margin: 0;
  width: 311px;
  font-size: 16px;
  line-height: 28px;
}

.picNameFirst {
  color: #313336;
}

.picNameSecond {
  color: #0077E4;
  margin-left: 10px;
}

img {
  padding: 0;
  height: 280px;
}

.info {
  margin-left: 68px;
  font-style: normal;
  font-size: 12px;
  line-height: 28px;
  color: #0077E4;
}
