.content {
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.mainTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 120px;
  color: #313336;
  text-align: center;
  margin: 0 auto;
}

.divider {
  width: 258px;
  height: 12px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
