@import '../../styles/variables.scss';

.training {
  z-index: 0;
  width: 100%;
  background-image: linear-gradient(rgba(24, 24, 26, 0.8), rgba(24, 24, 26, 0.8)), url(./Back_training.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 173px;
  margin-top: -30px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 47px;
  h2 {
    margin: 0;
    font-size: 28px;
    line-height: 36px;
  }
  span {
    position: relative;
    margin-top: 7px;
    padding-top: 3px;
    margin-right: 18px;
    width: 56px;
    height: 56px;
    font-size: 32px;
    border: 1px solid #fff;
    border-radius: 50px;
  }
  span::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    width: 48px;
    height: 48px;
    border: 0.5px solid #fff;
    border-radius: 50px;
  }
}

.trainingText {
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 163px;
}

.buttonVideo {
  position: relative;
  width: 330px;
  height: 60px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: $main-color;
  border: none;
  filter: drop-shadow(0px 4px 19px rgba(40, 65, 130, 0.34));
}

.buttonVideo::after {
  content: '';
  position: absolute;
  display: block;
  top: -7px;
  left: -6px;
  width: 342px;
  height: 72px;
  border: 1px solid rgba(0, 119, 228, 0.5)
}
