.container {
  position: relative;
  text-align: center;
  color: #fff;
}

.video {
  border: none;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0,0,0,0.7);
  padding: 6% 30px;
}

.trainingText {
  max-width: 656px;
  font-size: 16px;
  line-height: 28px;
  margin-top: 85px;
  margin-bottom: 164px;
}

.watchBtn {
  position: relative;
  width: 330px;
  height: 60px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
  background-color: #0077E4;
  transition: all 0.2s ease-in-out;
  border: none;
  margin-bottom: 16%;
  cursor: pointer;

  &:hover {
    background-color: #359AF8;
  }

  &::after {
    content: '';
    position: absolute;
    display: block;
    top: -7px;
    left: -6px;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    border: 1px solid rgba(0, 119, 228, 0.5)
  }
}

@media (max-width: 1024px) {
  .content {
    padding: 80px 30px;
  }
  
  .trainingText {
    margin-top: 45px;
    margin-bottom: 162px;
  }
  
  .watchBtn {
    margin-bottom: 5%;
  }
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 10%;
  }

  .content {
    padding: 50px 30px;
  }

  .trainingText {
    margin: 45px 0;
  }

  .watchBtn {
    font-size: 14px;
    line-height: 20px;
    width: 280px;
    padding: 12px 20px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 20px;
  }

  .trainingText {
    font-size: 12px;
    line-height: 16px;
    margin: 12px 0 20px;
  }

  .watchBtn {
    width: 180px;
    height: 36px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 2%;
    padding: 6px 10px;
  }
}

@media (max-width: 425px) {
  .content {
    padding: 15px;
  }

  .trainingText {
    font-size: 12px;
    line-height: 14px;
    margin: 10px 0 15px;
  }

  .watchBtn {
    width: 170px;
    height: 32px;
    font-size: 10px;
    line-height: 12px;
    margin-bottom: 0;
    padding: 5px 8px;
  }
}


@media (max-width: 320px) {
  .trainingText {
    font-size: 10px;
    line-height: 12px;
  }
}
