.container {
  width: 100%;
  background-image: linear-gradient(rgba(24, 24, 26, 0.8), rgba(24, 24, 26, 0.8)), url(./img/Back_training.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 80px 30px 173px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.trainingText {
  max-width: 656px;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  margin: 45px auto 163px auto;
}

.buttonVideo {
  position: relative;
  width: 330px;
  height: 60px;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  background-color: #0077E4;
  border: none;
}

.buttonVideo::after {
  content: '';
  position: absolute;
  display: block;
  top: -7px;
  left: -6px;
  width: 342px;
  height: 72px;
  border: 1px solid rgba(0, 119, 228, 0.5)
}
