.container {
  width: 100%;
  background: url(./img/BackgroundBoiler.jpg) center (top/cover) no-repeat;
  color: #fff;
  padding: 90px 30px 115px;
  margin-top: -120px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 92px;
}

.qualityText {
  width: 56%;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.qualityTextP2, .qualityTextP3 {
  margin-top: 28px;
}

.siemensImg {
  width: 34%;
}

.siemens {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
