.container {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 50vw rgba(0, 119, 228, 0.85);
  color: #fff;
  padding: 113px 30px 26px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  max-width: 423px;
  text-align: center;
  font-size: 28px;
  line-height: 40px;
  margin: 0 auto;
}

.text {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 28px;
  margin-top: 44px;
}

.textSecond, .textFirst {
  width: 48%;
}

.madeBy {
  border-top: 1px solid #fff;
  text-align: center;
  line-height: 34px;
  margin-top: 44px;
  padding-top: 26px;
}

.linkLogge {
  color: #fff;
  font-weight: 600;
}
