.container {
  padding: 80px 30px 110px 30px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

.titleText {
  font-size: 28px;
  line-height: 36px;
}

.titleNumber {
  position: relative;
  text-align: center;
  width: 48px;
  height: 48px;
  font-size: 32px;
  line-height: 44px;
  border: 1px solid #0077E4;
  border-radius: 50%;
  margin-right: 12px;
}

.titleNumber::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(110%);
  height: calc(110%);
  border: 1px solid #0077E4;
  border-radius: 50%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.repairBlockText {
  max-width: 464px;
  font-size: 16px;
  line-height: 28px;
  margin-left: 94px;
}

.services {
  color: #0077E4;
  text-transform: uppercase;
}
