.container {
  padding: 80px 30px 110px 30px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 64px auto 0;
}

.serviseImg {
  width: 36%;
}

.service {
  width: 100%;
  height: auto;
}

.text {
  max-width: 464px;
  font-size: 16px;
  line-height: 28px;
  margin-left: 90px;
}

.services {
  color: #0077E4;
  text-transform: uppercase;
}
